.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/strava_data/*
data/strava_data2/*
*.fit
*.gz
/*.wav
/.quarto/
labs/*.html
labs/*_files/
docs/CLAUDE.html
docs/scratch/
docs/data/finals_data.csv
